@import '../../styles/colors.scss';
@import '../../styles/mixins.scss';

.stationPage {
  flex: 1;

  .items {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    .filter {
      margin-bottom: 1rem;
    }

    .item {
      align-items: center;
      border: 1px solid $aliceBlue;
      border-radius: 0.5rem;
      display: flex;
      justify-content: space-between;
      margin: 0.5rem 0;
      padding: 1rem;

      @include light() {
        border-color: $richBlack;
      }

      &.selected {
        background: $charcoal;

        @include light() {
          background: $aliceBlue;
        }
      }

      .day {
        font-size: 1.25rem;
      }

      .mm {
        font-size: 0.875rem;
      }

      .temp {
        align-items: center;
        display: flex;
        margin: 0 1rem;

        .high {
          font-size: 2.5rem;
          margin-right: 0.25rem;
        }

        .right {
          display: flex;
          flex-direction: column;
          font-size: 0.875rem;
          justify-content: space-between;

          .c {
            color: white;
            margin-bottom: 0.2rem;

            @include light() {
              color: $richBlack;
            }
          }

          .low {
            color: $blueGreen;
          }
        }
      }
    }
  }

  .loadingIndicator {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 2rem 0;
  }

  .station {
    position: relative;
  }
}

.favoriteButton {
  background: url(/images/icons/favorite.aliceBlue.svg) center center no-repeat;
  background-size: 1.25rem;
  border: none;
  height: 2rem;
  margin-right: -0.5rem;
  transition: 0.15s opacity;
  width: 2rem;

  @include breakpoint() {
    &:hover {
      opacity: 0.85;
    }
  }

  &.favorite {
    background-image: url(/images/icons/favorite.yellow.svg);
  }

  > span {
    display: none;
  }

  @include light() {
    background-image: url(/images/icons/favorite.black.svg);
  }
}
