// https://coolors.co/264653-6f732f-e9c46a-f4a261-e76f51
$aliceBlue: #F1F7F9;
$blueGreen: #5798B2;
$charcoal: #264653;
$gunmetal: #203B46;
$richBlack: #0C181D;
$spanishBistre: #6F732F;
$antiqueBronze: #63652A;
$yellowCrayola: #E9C46A;
$sandyBrown: #E9C46A;
$burntSienna: #E76F51;
