@import '../../styles/colors.scss';

.search {
  display: flex;
  flex: 1;
  flex-direction: column;

  form {
    align-items: center;
    display: flex;

    input {
      margin: 0 1rem 0 0;
    }
  }

  .stations {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
      position: relative;

      a {
        background-color: $charcoal;
        color: $aliceBlue;
        display: block;
        padding: 1rem;
        text-decoration: none;
        transition: 0.15s background-color;

        &:hover {
          background-color: $gunmetal;
        }

        span {
          align-items: center;
          display: flex;
          justify-content: space-between;
          text-transform: capitalize;
        }

        .meta {
          font-size: 0.85rem;
          margin-left: 1rem;
        }
      }
    }
  }
}
